# Ignore node_modules for the entire project
node_modules/

# Ignore node_modules within the backend folder
backend/node_modules/

# Ignore node_modules within the frontend folder
frontend/node_modules/

backend/vercel.json